.die {
  border: 1px solid black;
  display: inline-block;
  height: 60px;
  margin: 10px;
  width: 60px;

}

.board {
  border: solid 1px lightgreen;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.player1 {
  margin: 10px;
}

h1 {
  text-align: center;
}

.dieSelect{
    border: 5px solid green;
    border-radius: 8px;
}

.held{
  border: 5px solid #ccc;
}
